.validation {
	&--line {
		display: flex;
		span {
			display: list-item;
			list-style: none;
			width: 100%;
			height: rem(4px);
			border-radius: rem(8px);
			background: var(--background-color);

			.new-password & {
				background: darken($background-color, 5%);
			}
		}

		.is-danger {
			order: 2;
			span {
				background-color: $danger;
			}
		}

		.is-success {
			order: 1;
			span {
				background-color: $success;
			}
		}
	}

	&--fields {
		.content {
			display: flex;
			align-items: center;

			.rounded {
				width: rem(8px);
				height: rem(8px);
				background: var(--background-color);
				display: inline-block;
				border-radius: 50%;
				margin-right: rem(8px);

				.new-password & {
					background: darken($background-color, 5%);
				}
			}

			&.is-danger {
				color: $danger;
				order: 2;

				.rounded {
					background-color: $danger;
				}
			}

			&.is-success {
				color: $success;
				order: 1;

				.rounded {
					background-color: $success;
				}
			}
		}
	}
}
